
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification: google6c2c5052a0b56372.html"/>
	
    <meta name="description" content="" />
    <meta name="keywords" content="" />


	<title>Wiseface</title>
	<link rel="icon"  href="{% static 'images/resources/t.png' %}"sizes="16x16" alt="">


    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/so.css' %}">
     <link rel="stylesheet" href="{% static 'css/note.css' %}">




</head>
<body style="background:whitesmoke">


<div class="se-pre-con"></div>
<div class="theme-layout">

	<div class="responsive-header">
		<div class="mh-head first Sticky">

			<span class="mh-text">
				<a href="newsfeed.html" title=""><h1>Wiseface</h1></a>
			</span>

		</div>


		<div class="mh-head second">

		</div>








	</div><!-- responsive header -->

	

	<div class="topbar stick">
		<div class="logo">
<a title="" ><h1 style="color: blue"><b>Wiseface</b></h1></a>

		</div>

		<div class="top-area">
			<div class="top-search">

			</div>

		<div class="user-img">
				
			</div>

		</div>
	</div><!-- topbar -->







<!-- right sidebar menu -->



  </div>
</div>



  </div>
</div>
<h1>.</h1>


<section>
		

<h1>.</h1>

		<div class="gap no-gap bluesh high-opacity btm-mockup">
			<div class="content-bg-wrap" style="background: url({% static 'images/resources/ko.png' %})"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="btm-baner">
							<div class="baner-mockup">
								<img src="{% static 'images/resources/ni.png' %}" alt="">
							</div>
							<center><div class="baner-inf" style="padding-bottom: 400px">
								<h1 style="color: blue">wana solve?</h1>
								<a href="{% url 'landing_page' %}" title="" style="background-color: green; color: white">start Now</a>
							</div></center>
						</div>	
					</div>
				</div>
			</div>
		</div>
	

	</section>
</div>


<div>
</div>









			<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="widget">
							<div class="foot-logo">
								<div class="logo">
								<a href="#" title=""><img  style="height: 60px ;border-radius:1000px" src="{% static 'images/resources/t.png' %}" alt=""></a>
								</div>
								<p>
									Ashraf Kisoro Lutaaya took this simple idea and built it into a Problem solver plateform inorder to make you happy life
								</p>
							</div>
										<ul class="location">
								<li>
									<i class="ti-email"></i>
									<p>Wiseface@gmail.com</p>
								</li>
							
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-4">
					<div class="widget">
						<div class="widget-title"><h4>follow</h4></div>
						<ul class="list-style">
							<li><i class="fa fa-facebook-square"></i> <a  title=""> #wiseface</a></li>
							<li><i class="fa fa-twitter-square"></i><a  title="">#wiseface</a></li>
							<li><i class="fa fa-instagram"></i><a  title="">#wiseface</a></li>
							<li><i class="fa fa-google-plus-square"></i> <a >wiseface@gmail.com</a></li>
							<li><i class="fa fa-pinterest-square"></i> <a  title="">#wiseface</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-4">
					<div class="widget">
						<div class="widget-title"><h4>Navigate</h4></div>
						<ul class="list-style">
							<li><a href="{% url 'about_us' %}"  title="">about us</a></li>


						</ul>
					</div>
				</div>
					<div class="col-lg-2 col-md-4">
					<div class="widget">
						<div class="widget-title"><h4>useful links</h4></div>
						<ul class="list-style">

							<li><a href="{% url 'usage' %}"  title="">Support & Help</a></li>

						</ul>
					</div>
				</div>

				</div>
			</div>
		</footer>



	<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/map-init.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>





</body>
</html>





